<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @product4.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product4.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product4.url %>
</p>

<%= link_to 'Edit', edit_product4_path(@product4) %> |
<%= link_to 'Back', product4s_path %>
