<%= form_with(model: latest, local: true) do |form| %>
  <% if latest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(latest.errors.count, "error") %> prohibited this latest from being saved:</h2>

      <ul>
      <% latest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :discount %>
    <%= form.text_field :discount, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
