 <!--header-img start ============================== -->
<div class="container-fuild">
  <section id="hero-area" style="position: absolute;
      background-color: #1b325e;
      height: 340px;
      width: 1258px;">
      <a class="navbar-brand" href="#">FreeDeal.com</a>
    <div style="margin: 85px 0px 87px 760px;">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </section>
</div>
<!--Slider start============================== -->
<section>
  <div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class = "panel">
          <div class = "panel-body">
            <div class="col-md-8">
              <div class="itemList">
                <% @deals.each do |deal| %>
                  <div id="itemListLeading">
                    <div class="itemContainer itemContainerLast" style="width:100.0%;">
                      <div class="catItemView groupLeading">
                        <div class="catItemHeader">
                          <div class="article-date">
                            <span class="catItemDateCreated">
                            <%= deal.created_at %></span>
                          </div>
                          <h3 class="catItemTitle">
                            <a href="/deals/<%= deal.id %>" class= "deal_link"><%= deal.title %></a>
                          </h3>
                          <div class="catItemRatingBlock">
                            <span>Rate this item</span>
                            <div class="itemRatingForm">
                              <ul class="itemRatingList">
                                <li class="itemCurrentRating" id="itemCurrentRating42779" style="width:100%;"></li>
                                <li><a href="#" rel="42779" title="1 star out of 5" class="one-star">1</a></li>
                                <li><a href="#" rel="42779" title="2 stars out of 5" class="two-stars">2</a></li>
                                <li><a href="#" rel="42779" title="3 stars out of 5" class="three-stars">3</a></li>
                                <li><a href="#" rel="42779" title="4 stars out of 5" class="four-stars">4</a></li>
                                <li><a href="#" rel="42779" title="5 stars out of 5" class="five-stars">5</a></li>
                              </ul>
                              <div id="itemRatingLog42779" class="itemRatingLog">(1 Vote)</div>
                              <div class="clr"></div>
                            </div>
                            <div class="clr"></div>
                          </div>
                          <span class="catItemCategory">
                            <span>Published in:</span>
                            <a href="/itemlist/category/67-amazon-offers">Amazon Offers</a>
                          </span>
                        </div>
                        <div class="catItemBody">
                          <div class="catItemIntroText">
                            <p style="text-align: left;"><%= image_tag deal.image.url, width: "150", height: "150" %><%= deal.description %><br /></p>
                            <p style="text-align: left;"><span style="font-family: tahoma, arial, helvetica, sans-serif;"><span style="color: #000080;"><span style="color: #000000;"><span><span><span><span>Amazon Coupon - <span style="color: #ff0000;">Not required</span></span></span></span></span></span></span></span></p>
                            <p style="text-align: right;"><%= link_to deal.url_link, class: "btn btn-primary boton" do %>Go to Deal Page <i class="fa fa-angle-double-right"></i><% end %></p> 
                          </div>
                          <div class="clr"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="border-top: 1px solid #060505;">
                <% end %>
              </div>
            </div>
          </div><!-- .container close -->
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
   
    