<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @product5.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product5.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product5.url %>
</p>

<%= link_to 'Edit', edit_product5_path(@product5) %> |
<%= link_to 'Back', product5s_path %>
