<p id="notice"><%= notice %></p>
<section>
  <div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class = "panel">
          <div class = "panel-body">
            <div class="col-md-8">
              <div class="itemList">
                    <% @deals.each do |deal| %>
                      <tr>
                        <td><%= image_tag deal.image.url %></td>
                        <td><%= deal.title %></td>
                        <td><%= deal.description %></td>
                        <td><%= deal.url_link %></td>
                        <td><%= link_to 'Show', deal %></td>
                        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
                        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                <br>
                <%= link_to 'New Deal', new_deal_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>