<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class = "panel">
				<!-- Advertise -->
					<!-- <div id="ja-slideshow" class="wrap ">
						<div class="main clearfix">
							<div class="bannergroup">
								<div class="banneritem">
									<script type="text/javascript"><!--
									google_ad_client = "ca-pub-7698440629108864";
									/* widest */
									google_ad_slot = "7401308193";
									google_ad_width = 970;
									google_ad_height = 90;
									//-->
									<!-- </script>
									<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
									</script> <div class="clr"></div>
								</div>
							</div>
						</div>
					</div>  -->
				<!-- Advertise End -->
				<div class = "panel-body">
					<div class="col-md-12">
		  				<div class="itemList">
		                    <div style="width:100.0%;">
		                        <div class="row">
							      	<div class="pull-left">
							        	<p><%= image_tag @deal.image.url, width: "350", height: "287" %></p>
							      	</div>
					          		<div class="ItemHeader">
					            		<h3>
					              			<a href="/deals/<%= @deal.id %>" class="deal_link"><%= @deal.title %></a>
					            		</h3>
					          		</div>
							        <p><%= @deal.description %><br></p>
							        <div class="ItemBody">
							            <p style="text-align: left;">
							              <span>Published in:</span>
							              <a href="/itemlist/category/67-amazon-offers">Amazon Offers</a><br>
							              <span>Date: <%= @deal.created_at %></span><br>
							              <span>Product Review: Good</span>
							            </p>
							            <p style="text-align: right;"><%= link_to @deal.link, class: "boton" do %> Go to Deal Page <% end %>
							            </p>
					          		</div>
								</div><br>
			                	<hr style="border-top: 1px solid #060505; border-style: dotted;"><hr />
								<center>
									<p style="text-align: left;"><span style="color: #800000;"><span style="font-size: small;"><strong>Offer in Details</strong> </span><span style="line-height: 1.3em;">:</span></span></p>
									<ul>
										<li style="text-align: left;"><p><%= link_to "Visit deal page",root_path %></p></li>
										<li style="text-align: left;"><p><span style="color: #000000; font-family: verdana, geneva;">Add to cart<span><br /></span></span></p></li>
										<li style="text-align: left;"><p><span style="line-height: 1.3em; font-family: verdana, geneva; color: #000000;">Login or register</span></p></li>
										<li style="text-align: left;"><p><span style="line-height: 1.3em; font-family: verdana, geneva; color: #000000;">Update or select shipping details</span></p></li>
										<li style="text-align: left;"><p><span style="color: #000000; font-family: verdana, geneva; line-height: 1.3em;">Pay the amount</span></p></li>
									</ul>
								</center>
							</div>
							<hr style="border-top: 1px solid #060505; border-style: dotted;"><hr />
							<!-- <div class="itemSocialSharing">
								<div class="itemTwitterButton">
									<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="getfreedealz">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
								</div>
								<div class="itemFacebookButton">
									<div id="fb-root"></div>
										<script type="text/javascript">
											(function(d, s, id) {
											  var js, fjs = d.getElementsByTagName(s)[0];
											  if (d.getElementById(id)) {return;}
											  js = d.createElement(s); js.id = id;
											  js.src = "//connect.facebook.net/en_US/all.js#appId=177111755694317&xfbml=1";
											  fjs.parentNode.insertBefore(js, fjs);
											}(document, 'script', 'facebook-jssdk'));
										</script>
									<div class="fb-like" data-send="false" data-width="200" data-show-faces="true"></div>
								</div>
								<div class="itemGooglePlusOneButton">
									<g:plusone annotation="inline" width="120"></g:plusone>
										<script type="text/javascript">
										  (function() {
										  	window.___gcfg = {lang: 'en'}; // Define button default language here
										    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										    po.src = 'https://apis.google.com/js/plusone.js';
										    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
										  })();
										</script>
								</div>
								<div class="clr"></div>
							</div>
							<div class="itemContentFooter">
								<span class="itemHits"> Read <b>14</b> times </span>
								<div class="clr"></div>
							</div>
							<div class="itemRelated">
								<h3>Related items</h3>
								<ul>
									<li class="even">
										<a class="itemRelTitle" href="/item/42257-dussledorf-polyester-20-ltr-pink-laptop-backpack-rs-449">Dussledorf Polyester 20 Ltr Pink Laptop Backpack Rs 299</a>
									</li>
									<li class="odd">
										<a class="itemRelTitle" href="/item/28184-inalsa-mini-easy-chop-dx-250-watt-chopper-rs-1099">Inalsa Mini Easy Chop DX 250-Watt Chopper Rs. 1025</a>
									</li>
									<li class="even">
										<a class="itemRelTitle" href="/item/42858-park-avenue-perfume-spray-elevate-rs-97">Park Avenue Perfume Spray Elevate Rs. 97</a>
									</li>
									<li class="odd">
										<a class="itemRelTitle" href="/item/39041-philips-spa75b-94-laptop-desktop-speaker-rs-999">Philips Spa75B/94 Laptop/Desktop Speaker Rs. 788</a>
									</li>
									<li class="even">
										<a class="itemRelTitle" href="/item/32708-hindware-f160027-health-faucet-rs-249">Hindware F160027 Health Faucet Rs. 299</a>
									</li>
									<li class="clr"></li>
								</ul>
								<div class="clr"></div>
							</div>
							<div class="clr"></div>
							<div class="itemNavigation">
								<span class="itemNavigationTitle">More in this category:</span>
								<a class="itemPrevious" href="/item/42855-billion-cy143-non-stick-induction-bottom-cookware-set-rs-1019">&laquo; Billion CY143 Non Stick Induction Bottom Cookware Set Rs. 1019 </a>
								<a class="itemNext" href="/item/42805-luke-and-lilly-wall-sticker-upto-85-off-from-rs-119">Luke and Lilly Wall Sticker Upto 85% Off From Rs. 119 &raquo;</a>
							</div> -->
							<!-- <a name="itemCommentsAnchor" id="itemCommentsAnchor"></a> -->
							<div class="container">
								<div class="card card-1">
	    							<div class="panel-heading"><h1>Leave a comment</h1></div>
									<div class="panel-body"><%= render "comments/form" %></div>
								</div>
							</div>
						</div>
						<!-- Advertise -->
							<!-- <div class="col-md-4">
								<div class="clr"></div>
								<div id="ja-inset2" class="ja-col column ja-inset2" style="width:36%">
									<div class="ja-moduletable moduletable  clearfix" id="Mod127">
										<div class="ja-box-ct clearfix">
											<div class="bannergroup">
												<div class="banneritem">
													<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
													<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7698440629108864" data-ad-slot="6371016993"></ins>
													<script>
													(adsbygoogle = window.adsbygoogle || []).push({});
													</script> 
													<div class="clr"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ja-moduletable moduletable  clearfix" id="Mod133">
									<div class="ja-box-ct clearfix">
										<div class="bannergroup">
											<div class="banneritem">
												<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
													<ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-7698440629108864" data-ad-slot="4754682990"></ins>
												<script>
													(adsbygoogle = window.adsbygoogle || []).push({});
												</script> <div class="clr"></div>
											</div>
										</div>
									</div>
								</div>
								<div id="ja-botsl" class="wrap ">
									<div class="main">
										<div class="main-inner1 clearfix">
											<script type="text/javascript">
											    window.addEvent('load', function (){ equalHeight ('#ja-botsl .ja-box') });
											</script> 
										</div>
									</div>
								</div>
							</div> -->
						<!-- Advertise End -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
