<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @product3.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product3.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product3.url %>
</p>

<%= link_to 'Edit', edit_product3_path(@product3) %> |
<%= link_to 'Back', product3s_path %>
