<section>
  <div class="container" >
    <div class="row" >
      <div id="btnContainer">
      <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
      <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
      </div>
      <br>
        <div class="row">
        <% @coupens.each do |coupen| %>
          <div class="column col-md-3" style="background-color:#ccc; margin:40px;">
            <div class="ribbon"><span>Coupon</span></div>
              <%= image_tag asset_path("logonew.png"), width:"74", height:"30", style:"float:left" %>
            <div class="image">
              <%= link_to coupen.url do %><%= image_tag coupen.image.url, height:"180" %><% end %><!--<img alt=" online coupons" src="http://cdn1.couponndeal.org/uploads/images/coupons/resize_images/smallgrid-eAlpha Hair Straightener-1508992692.jpg" height="180 "/>--><!-- </a>  -->
            </div>
              <div class="body">
                <div class="title">
                  <%= link_to coupen.url do %><%= coupen.title %><% end %>
                </div>
                <div class="Categories"><p></p></div>
              </div>
              <div class="prices"></div>
              <div class="in-center">
                <%= link_to coupen.url, class: "", style:"text-decoration: none !important;" do %> 
                  <div onmousedown="mDown(this)" onmouseup="mUp(this)" style="background-color:#3498e0; width:200px; height:20px; padding:25px;">Click To See Code</div>
                  <script>
                    function mDown(obj) {
                      obj.style.backgroundColor = "#1ec5e5";
                      obj.innerHTML = "Release Me";
                    }

                    function mUp(obj) {
                      obj.style.backgroundColor="#3498e0";
                      obj.innerHTML="<%= coupen.coupen %>";
                    }
                  </script>
                <% end %>
              </div>
        </div> 
        <%= link_to 'Show', coupen %>
        <%= link_to 'Edit', edit_coupen_path(coupen) %>
        <%= link_to 'Destroy', coupen, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %><br> 
        </div><!-- /.row -->
      
       <div class="row m-t-20">
          <div class="col-md-6 col-md-offset-3">
           <%= will_paginate @coupens, renderer: BootstrapPagination::Rails %>
          </div><br>
        </div>      <br> 
      <script>
        // Get the elements with class="column"
        var elements = document.getElementsByClassName("column");
        // Declare a loop variable
        var i;
        // List View
        function listView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "100%";
            }
         }

        // Grid View
        function gridView() {
            for (i = 0; i < elements.length; i++) {
                elements[i].style.width = "50%";
            }
        }

        /* Optional: Add active class to the current button (highlight it) */
        var container = document.getElementById("btnContainer");
        var btns = container.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }
      </script>
    </div>
  </div>
</section>