<nav class="navbar">
  <div class="container">
    <div class= "row">
      <% if user_signed_in? %>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="w3-dropdown-hover">
              <button class="w3-button">DEALS
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_deal_path, class: 'w3-bar-item w3-button' do %> new deal<% end %>
                <%= link_to deals_path, class: 'w3-bar-item w3-button' do %>Deals<% end %>
              </div>
            </div> <br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">product1
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_product_path, class: 'w3-bar-item w3-button' do %>new product<% end %>
                <%= link_to products_path, class: 'w3-bar-item w3-button' do %> Products<% end %>
              </div>
            </div> <br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">product2
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_product2_path, class: 'w3-bar-item w3-button' do %> new product2<% end %>
                <%= link_to product2s_path, class: 'w3-bar-item w3-button' do %>Product2s<% end %>
              </div>
            </div><br>
          <div class="w3-dropdown-hover">
              <button class="w3-button">product3
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_product3_path, class: 'w3-bar-item w3-button' do %>new Product3<% end %>
                <%= link_to product3s_path, class: 'w3-bar-item w3-button' do %>Product3<% end %>
              </div>
            </div><br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">product4
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_product4_path, class: 'w3-bar-item w3-button' do %>new Product4<% end %>
                <%= link_to product4s_path, class: 'w3-bar-item w3-button' do %>Product4<% end %>
              </div>
            </div><br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">product5
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_product5_path, class: 'w3-bar-item w3-button' do %>new Product5<% end %>
                <%= link_to product5s_path, class: 'w3-bar-item w3-button' do %>Product5<% end %>
              </div>
            </div><br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">Coupon
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_coupen_path, class: 'w3-bar-item w3-button' do %>new Coupon<% end %>
                <%= link_to coupens_path, class: 'w3-bar-item w3-button' do %> coupons<% end %>
              </div>
            </div><br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">Latest Offers
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_latest_path, class: 'w3-bar-item w3-button' do %>new offer<% end %>
                <%= link_to latests_path, class: 'w3-bar-item w3-button' do %> Offers<% end %>
              </div>
            </div><br>
            <div class="w3-dropdown-hover">
              <button class="w3-button">Contact Us
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="w3-dropdown-content w3-bar-block">
                <%= link_to new_contact_path, class: 'w3-bar-item w3-button' do %>Add Contact<% end %>
                <%= link_to contacts_path, class: 'w3-bar-item w3-button' do %>Contact Us<% end %>
              </div>
            </div>
        </div>
      <% end %>
      <div class="navbar-header">
        <div class="navbar-brand" style="padding: 4px 30px;">
          <%= image_tag "logo1.png", width: "204px", height: "80px" %>
        </div>
      </div>
      <ul class="nav navbar-nav pull-right" style="font-size: 19px; margin: 0px;">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <% if user_signed_in? %>
          <li style="padding-top: 35px;"><div id="main"><span style="font-size:30px; cursor:pointer;" onclick="openNav()">&#9776; OPEN</span></div></li>
        <% end %>
          <li class="brand" style="background-color: #3096f3;"><%= link_to "Home", root_path, class: "w3-bar-item w3-blue" %></li>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><%= link_to latests_path, class: 'w3-bar-item w3-button' do %>Latest Offers<% end %></li>
        <% end %>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><a href="#work" class="w3-bar-item w3-button">Free Offers</a></li>
        <% end %>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><%= link_to coupens_path, class: 'w3-bar-item w3-button' do %>Discount Coupons<% end %></li>
        <% end %>
        <% if current_user.nil? %>
        <li style="padding-top: 35px;"><%= link_to home_contact_path, class: 'w3-bar-item w3-button' do %>CONTACT US<% end %></li>
        <% end %>
        <% if user_signed_in? %>
            <% if current_user.nil? %>
              <li style="padding-top: 35px;"><%= link_to new_user_session_path, class: 'w3-bar-item w3-button' do %>SING IN<% end %></li>
            <% else %>
              <li style="padding-top: 35px;"><%= link_to destroy_user_session_path,class: 'w3-bar-item w3-button', method: :delete do %>LOG OUT<i class="fa fa-power-off"></i><% end %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav><br>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>

