<nav class="navbar">
  <div class="container">
    <div class= "row">
      <div class="navbar-header">
        <div class="navbar-brand" style="padding: 4px 30px;">
          <%= image_tag "logo1.png", width: "204px", height: "80px" %>
        </div>
      </div>
      <ul class="nav navbar-nav pull-right" style="font-size: 19px; margin: 0px;">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li class="brand" style="background-color: #3096f3;"><%= link_to "Home", root_path, class: "w3-bar-item w3-blue" %></li>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><%= link_to latests_path, class: 'w3-bar-item w3-button' do %>Latest Offers<% end %></li>
        <% else %>
          <li style="padding-top: 35px;"><%= link_to new_deal_path, class: 'w3-bar-item w3-button' do %>DEALS<% end %></li>
        <% end %>
        <% if user_signed_in? %>
          <li style="padding-top: 35px;"><%= link_to new_product_path, class: 'w3-bar-item w3-button' do %>Product1<% end %></li>
        <% end %>
        <% if user_signed_in? %>
          <li style="padding-top: 35px;"><%= link_to new_product2_path, class: 'w3-bar-item w3-button' do %>Product2<% end %></li>
        <% end %>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><a href="#work" class="w3-bar-item w3-button">Free Offers</a></li>
        <% else %>
          <li style="padding-top: 35px;"><%= link_to new_product3_path, class: 'w3-bar-item w3-button' do %>Product3<% end %></li>
        <% end %>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><%= link_to coupens_path, class: 'w3-bar-item w3-button' do %>Discount Coupons<% end %></li> 
        <% else %>
          <li style="padding-top: 35px;"><%= link_to new_product4_path, class: 'w3-bar-item w3-button' do %>Product4<% end %></li>
        <% end %>
        <% if current_user.nil? %>
          <li style="padding-top: 35px;"><%= link_to home_contact_path, class: 'w3-bar-item w3-button' do %>CONTACT US<% end %></li> 
        <% else %>
          <li style="padding-top: 35px;"><%= link_to new_product5_path, class: 'w3-bar-item w3-button' do %>Product5<% end %></li>
        <% end %>
        <% if user_signed_in? %>
          <li style="padding-top: 35px;"><%= link_to new_contact_path, class: 'w3-bar-item w3-button' do %>CONTACT US<% end %></li> 
         <% end %>
        <% if user_signed_in? %>
          <li style="padding-top: 35px;">
            <% if current_user.nil? %>
              <%= link_to new_user_session_path, class: 'w3-bar-item w3-button' do %>SING IN<% end %>
            <% else %>
              <%= link_to destroy_user_session_path,class: 'w3-bar-item w3-button', method: :delete do %>LOG OUT<i class="fa fa-power-off"></i><% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav><br>






 


